#__next :is(.w-full) {
    width: 100%;
}

.gsc-comment-box-tabs {
	background-color: #f8f8f8;
}

.gsc-comment-box-textarea .gsc-comment-box-bottom {
	background-color: #e0e0e0;
}



.gsc-comment {
	background-color: #f8f8f8;
}

.gsc-reply {
	background-color: #f8f8f8;
}

.color-border-primary {
	border-color: #17707F;
}

.color-box-border-info {
	border-color: #17707F;
}

.gsc-comment-box-textarea {
	border-color: #17707F;
}

.gsc-comment-box-textarea-extras {
	border-color: #17707F;
}

button {
	font-weight: bold;
}

.gsc-tl-line {
	background-color: #17707F !important;
}